/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*----------------------------------------------------------------*/

body {
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, fixed;
    background-size: cover;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/*----------------------------------------------------------------*/

/*PRODUTOS */
/* Estilo do Main */
main {
    margin-top: 60px;
}

.main-content {
    width: 1000px; 
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(122, 223, 189, 0.153);
    border-radius: 8px;
}

.main-content h1 {
    margin-bottom: 20px;
    padding: 50px;
}

.main-content p {
    margin-bottom: 20px;
}

.centralize-text {
    text-align: center;
    margin: 20px auto;
    font-size: 18px;
}

/* Estilo para a seção de filtros */
.filter-container {
    display: flex; /* Alinha os botões lado a lado */
    gap: 35px; /* Espaçamento entre os botões */
    margin: 50px 0; /* Margem acima e abaixo dos filtros */
    justify-content: center; /* Alinha os botões no centro */
    flex-wrap: wrap; /* Permite que os botões quebrem linha em telas menores */
}

.filter-option {
    background-color: rgba(122, 223, 189, 0.153);
    border: 2px solid #038d5a27;
    color: #1b6cc9; /* Cor do texto do botão */
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 309px; /* Largura dos botões */
    height: 100px; /* Altura dos botões */
    border-radius: 8px; /* Bordas arredondadas */
    font-size: 1.1em; /* Tamanho da fonte do botão */
    display: flex; /* Flexbox para centralizar o texto */
    align-items: center; /* Alinha o texto verticalmente */
    justify-content: center; /* Alinha o texto horizontalmente */
    cursor: pointer; /* Cursor de ponteiro para indicar que o botão é clicável */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave para cor de fundo e texto */
    text-align: center; /* Alinha o texto no centro */
}

.filter-option:hover {
    background-color: #026d4f; /* Cor de fundo quando o mouse passa sobre o botão */
    color: #ffffff;
}


/* Estilo para as seções de produtos */
.category {
    display: none; /* Oculta todas as seções por padrão */
    padding: 20px;
    border-top: 2px solid #038d5a;
}

.category.active {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem a linha */
    gap: 20px; /* Espaço entre os itens */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

/* Estilo para as caixas de itens */
.item-box {
    background-color: #f9f9f9; /* Cor de fundo da caixa */
    border: 1px solid #ddd; /* Borda da caixa */
    border-radius: 8px; /* Cantos arredondados */
    padding: 20px; /* Espaço interno da caixa */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra da caixa */
    display: flex; /* Flexbox para layout interno */
    flex-direction: column; /* Layout vertical dos elementos */
    align-items: center; /* Centraliza o conteúdo */
    text-align: center; /* Centraliza o texto */
    max-width: 300px; /* Limita a largura máxima das caixas */

    /* Remover a largura fixa para permitir que o Flexbox ajuste o tamanho */
    width: calc((100% / 3) - 20px); /* Ajusta a largura para caber 3 caixas por linha, descontando o espaçamento */
    
}

.imageprod {
    width: 150px; /* Largura */
    height: auto; /* Mantém a proporção original da imagem */
}

.item-box h2 {
    margin-top: 0;
    font-size: 1.2em;
}

.item-box p {
    margin-bottom: 20px;
}

/* Estilo para os controles de quantidade */
.quantity-controls {
    display: flex; /* Alinha os botões e o campo de entrada horizontalmente */
    align-items: center;
    gap: 10px;
}

.quantity-controls button {
    background-color: #038d5a;
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

.quantity-controls button:hover {
    background-color: #026d4f;
}

.quantity-controls input {
    width: 60px;
    text-align: center;
    font-size: 1.2em;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: #fff;
    cursor: default;
}

/* Estilo para os preços */
.price {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-top: 0.5rem;
}


/* Estilo para a Table de PRODUTOS */
.table-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: rgba(122, 223, 189, 0.153);
    width: 80%; /* Define a largura do contêiner como uma porcentagem da largura do elemento pai */
    max-width: 999px; /* Define uma largura máxima para o contêiner */
    margin-left: auto; /* Adiciona margem automática à esquerda */
    margin-right: auto; /* Adiciona margem automática à direita */
}

#items-table {
    width: 100%; /* Ajusta a tabela para ocupar toda a largura do contêiner */
    border-collapse: collapse;
}

#items-table th, #items-table td {
    border: 8px solid rgba(122, 223, 189, 0.153);
    padding: 15px;
    text-align: left;
}

#items-table th {
    background-color: rgba(122, 223, 189, 0.153);
}

/* Estilo para o formulário de PRODUTOS */
.form-container-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: none; /* Oculta o formulário por padrão */
}

.form-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}

form {
    width: 100%;
}

label, input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para o botão de exibição do formulário */
.show-form-btn {
    display: block;
    width: auto;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #7adfbf; /* Cor de fundo para o botão */
    color: #fff; /* Cor do texto */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.show-form-btn:hover {
    background-color: #62b7a6; /* Cor de fundo ao passar o mouse */
}

/* Estilo para ocultar o formulário inicialmente */
.form-container-wrapper {
    display: none;
}


/* Estilo do botão voltar ao topo */
.back-to-top {
    display: none; /* Esconde o botão por padrão */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #038d5a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
}

.back-to-top:hover {
    background-color: #026d4f;
}


/*FIM PRODUTOS */


/*----------------------------------------------------------------*/


/* Footer GERAL */
footer {
    align-items: center;
    text-align: center;
    list-style: none;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

.footer-logo:hover {
    color: #000000;
}


footer {
    background-color: transparent;
    padding: 8px;
    text-align: center;
    margin-top: 20px;
}

footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-link {
    margin-bottom: 10px;
}

footer .social-links {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

footer .social-links a {
    text-decoration: none;
    color: #ffffff;
}

footer .social-links img {
    width: 30px;
    height: 30px;
    vertical-align: middle
}

footer .redes {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

ul.redes img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    list-style-type: none;
}


footer .social-links a:hover {
    color: #000000;
}

footer p {
    font-size: 0.8em;
    color: #ffffff;
    margin-top: 0;
}

.copyright {
    align-items: center;
    text-align: center;
    background-color: rgba(122, 223, 189, 0.293);
    color: rgb(3, 64, 5);
}

/*----------------------------------------------------------------*/

/* Botão "Voltar ao topo" */
.back-to-top {
    position: fixed;
    bottom: 10px;
    bottom: 33px;
    right: 20px;
    background-color: #ffffff;
    color: #0ba22f;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border: 2px solid #047110;

}

.back-to-top:hover {
    background-color: #047110;
    color: #ffffff;
}

/*----------------------------------------------------------------*/
/* Home video*/


.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 98vh;
    z-index: -1;

}

/*----------------------------------------------------------------*/

/*navbar*/
.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

header .btn-contato button:hover {
    background-color: #078d07;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.menu-desktop nav a:hover {
    transform: scale(1.05);
}

/* Estilo do Header */
header {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    
    transition: .5s;
    z-index: 5;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

}

header .logo img {
    max-width: 40px;


}

/* ---------------------------------------------------------------- */
/* Estilo do Menu */

header .logo img.logo-preto {
    display: none;
}

header .menu-desktop nav ul {
    list-style-type: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 20px;
}

header .menu-desktop nav ul li a {
    color: #033915;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.menu-desktop nav a:hover {
    transform: scale(1.05);
}

header .btn-contato,
button .botaosaiba button {
    width: 90px;
    height: 4%;
}

header .btn-contato button,
.hero-site button,
.botaosaiba button {
    font-size: 18px;
    background-color: transparent;
    border:#036047 solid;
    border-radius: 8px;
    border-width: 1px;
    color: #171616;
    cursor: pointer;
    transition: .5s;
    padding: 3px;
}

header .btn-contato button:hover,
.hero-site button:hover {
    background-color: #165850;
    color: #fbfffd;

}

header.rolar {
    background-color: #02484691;
    padding: 10px 0;
    box-shadow: 0 0 8px #0bb8a772;
   

}

header.rolar .menu-desktop nav ul li a {
    color: #ffffff;
}
 header.rolar .btn-contato button{
    color: #ffffff;
 }
header.rolar .btn-contato button:hover {
    background-color: #036047;
    color: white;
}

header.rolar .logo img.logo-branca {
    display: none;
}

header.rolar .logo img.logo-preto {
    display: block;
}
/* Estilo do botão Menu Mobile */
header .btn-menu-mob{
    display: none;
    position: relative;
    z-index: 999999999999999999999;
}
header .btn-menu-mob div{
    background-color:black;
    height: 3px;
    margin: 10px 0;
    transition: 0.2s;
   
}
header .btn-menu-mob .line-menumob-1 {
    width: 30px;
}
header .btn-menu-mob .line-menumob-2 {
    width: 20px;
}

 header.rolar .btn-menu-mob div{ 
    background-color:white;
 } 
 
 header .btn-menu-mob .line-menumob-1.ativo1{
    transform: rotate(45deg) translate(30%);
    background-color: #ffffff;
 }
 
 header .btn-menu-mob .line-menumob-2.ativo2{
    transform: rotate(-45deg) translate(30%);
    width: 30px;
    background-color: #ffffff;
 }


/* Estilo do Menu Mobile */
header .menu-mobile{
    width: 0;
    height: 0;
    background-color:#033915;
    position:absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    transition: .5s;
    
}
header .menu-mobile nav{
    width: 100%;
}
header .menu-mobile nav ul {
    list-style-type: none;
}
header .menu-mobile nav a{
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
    padding: 20px 0;
    display: block;
    transition: .5s;
}
header .menu-mobile nav a:hover{
    background-color: #ffffff;
    color: black;
    box-shadow: 0 0 20px #fff;

}

header .menu-mobile.abrir{
    width: 100%;
    height: 100vh;
    
}
body.no-overflow{
    overflow: hidden;
}
/* fim Estilo do botão Menu Mobile */


/*Hero-site*- HOME*/
section.hero-site {
    height: 98vh;
    color: black;
}

.hero-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.hero-site .txt-hero {
    background-color: rgba(122, 223, 189, 0.153);
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    padding: 20px;

}

.hero-site .txt-hero h1 p{
    font-size: 2em;
    font-weight: 300;
}

.hero-site .txt-hero p {
    font-size: 20px;
    font-weight: 300;
    margin: 25px 0;
    
}

.hero-site .txt-hero p span {
    display: block;
}

.hero-site button,
.box-img button {
    width: 200px;
    height: 50px;
}
/* ---------------FIM Hero-site*- HOME ---------------*/

/* Container principal dos produtos */
.content-container {
    display: flex;
    flex-wrap: wrap; /* Permite que as colunas se movam conforme necessário */
    gap: 20px; /* Espaçamento entre colunas e produtos */
    justify-content: center; /* Centraliza as colunas */
    align-items: flex-start;
    max-width: 1000px; /* Largura máxima para o container */
    margin: 0 auto 50px; /* Centraliza o container e adiciona margem inferior */
    padding: 20px;
}

/* Coluna de produtos */
.product-column {
    flex: 1; /* Faz com que cada coluna tenha a mesma largura */
    min-width: calc(33.33% - 20px); /* Garante que as colunas tenham o mesmo tamanho e se ajustem ao espaço disponível */
    box-sizing: border-box; /* Inclui padding e borda na largura total */
}

/* Caixa de produto */
.product {
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Alinha os itens na vertical */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    background-color: rgba(122, 223, 189, 0.153);
    border: 2px solid #038d5a27;
    border-radius: 8px; /* Cantos arredondados */
    padding: 15px; /* Espaço interno */
    box-sizing: border-box;
    margin-bottom: 20px; /* Espaço entre produtos */
    text-align: center; /* Centraliza o texto e a imagem */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para a caixa de produto */
    height: 300px; /* Altura fixa para todas as caixas de produto */
}

/* Imagem do produto */
.product img {
    width: 100%; /* Imagem ocupa toda a largura da caixa */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Cantos arredondados na imagem */
    object-fit: cover; /* Faz com que a imagem cubra a caixa sem distorcer */
}

/* Títulos dos produtos */
.product h2 {
    margin: 10px 0; /* Espaço acima e abaixo do título */
    font-size: 1.2em; /* Tamanho do texto do título */
}

/* Descrições dos produtos */
.product p {
    margin: 0; /* Remove margem da descrição */
    font-size: 0.9em; /* Tamanho do texto da descrição */
    color: #666; /* Cor do texto da descrição */
}

.centralize-text {
    text-align: center;
    margin: 20px auto;
    font-size: 18px;
}

.image-box {
    flex: 1;
    max-width: 98%;
    height: 300px;
}

.image-box img {
    width: 98%;
    height: 98%;
    border-radius: 8px;
    box-shadow: #000000;
    flex-direction: center;
}

/* Contêiner do formulário para alinhamento com as colunas */
.form-container-wrapper {
    width: 100%;
    max-width: 1000px; /* Deve corresponder à largura total das três colunas */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px;
}

/* FIM Container principal dos produtos */

/* C O N T A T O    P Á G I N A   I N Í C I O*/
/* Contêiner principal de contato */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espaço entre os elementos */
}


/* Contêiner que contém o telefone e o WhatsApp */
.contact-info-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px; /* Diminuir o espaço entre o WhatsApp e a linha de cima */
}

/* Ainhamento entre o telefone e o WhatsApp na mesma linha */
.contact-info {
    display: flex;
    gap: 50px; /* Espaçamento entre o telefone e WhatsApp */
}

/* Style para o telefone e o WhatsApp */
.contact-box {
    border-radius: 8px;
    padding: 20px; /* AAjustar o ícone e o texto */
    box-sizing: border-box;
    text-align: center;
    width: 525px; /* Ajustar a largura */
    background-color: rgba(122, 223, 189, 0.153);
    border: 2px solid #038d5a27;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Box telefone */
.phone-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ícone telefone */
.contact-icon {
    width: 50px; /* Ajustar tamanho */
    height: auto;
    margin-bottom: 10px; /* Espaço entre a imagem e o texto */
}

/* Style para o título e o texto na caixa de telefone */
.phone-box h2 {
    margin: 10px 0;
}

.phone-box p {
    margin: 0;
}

/* Style para a caixa do WhatsApp */
.whatsapp-box {
    text-align: center;
}

/* Style para o contêiner de detalhes do contato e formulário */
.contact-details-form-container, .form-container .form-prodcontainer {
    display: flex;
    justify-content: space-between; /* Espaçamento automático para as colunas */
    width: 100%;
    max-width: 1100px; /* Largura máxima das colunas */
    margin-top: 20px; /* Espaço de cima contêiner */
}

/* Style para os detalhes de contato e formulário */
.contact-details, .form-container .form-prodcontainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 500px; /* Largura fixa para ambas as colunas (sem considerar o form) */
    box-sizing: border-box;
}
/* Formulário*/
.form-container 
{
    margin-top: 10px; /* Diminuir o espaço entre o form e a linha de cima */
    height: auto; /* Altura do conteúdo */
    background-color: rgba(122, 223, 189, 0.153);
    border: 2px solid #038d5a27;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    margin-left: 80px; /* Adicionar espaço à esquerda do form */
    justify-content:flex-end;
    
}

.form-container input,
.form-container button {
    display: block;
    width: 97%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-top: 10px;
}

form input label{
    margin-top: 10px;
}

.form-container  button {
    background-color: #0471119d;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #047110;
}


/*----------------------------------------------------------------*/

/* Style para o formulário */

/* Formulário produto*/
.form-prodcontainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(122, 223, 189, 0.153);
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Alinha os elementos internamente */
    align-items: center; /* Centraliza o conteúdo dentro do contêiner */
    
    
}
.form-produtos {
    width: 50%;
    height: auto; /* Altura do conteúdo */
    background-color: rgba(122, 223, 189, 0.153);
    border: 2px solid #038d5a27;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    
}
.input label
 {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    align-self: center;
    padding: 10px;
    align-self: center;
}

.input input,
.input select,
.input textarea
{
    display: block;
    width: 97%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #cccccc; /* Cor da borda dos campos */
    box-sizing: border-box;
}  

.button button{
    height:auto;
    background-color: #0471119d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    width: 97%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;   
}

.button button:hover{
    background-color: #047110; 
}
/*----------------------------------------------------------------*/

/* Style dos campos de entrada e botão dentro do form */
.form-container input,
.form-container select,
.form-container button 
.form-prodcontainer input,
.form-prodcontainer select
{
    display: block;
    width: 97%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #cccccc; /* Cor da borda dos campos */
    box-sizing: border-box;
}


/* Estilo do botão dentro do form */
.form-container button 
.form-prodcontainer  button {
    background-color: #ffffff;
    color: #047110;
    border: none;
    cursor: pointer;
    border: 2px solid #00000027;
}

.form-container button:hover 
.form-prodcontainer form button:hover {
    background-color: #047110;
    color: #ffffff;
}



/*----------------------------------------------------------------*/
/* Boxes */
.box-img img {
    width: 200px;
    height: 200px;
}

.box-conteiners {

    padding: 20px;
    max-width: auto;
    height: auto;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: wrap;



}


.box-content {

    width: 800px;
    height: 300px;
    background-color: rgba(122, 223, 189, 0.153);
    border: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    border-start-start-radius: 30%;
    border-start-end-radius: 10%;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: wrap;




}

.box-content h1 {
    width: 800px;
    display: flex;
    margin-top: 20px;
    align-self: center;
    padding: 20px;

}

.box-content p {
    width: 800px;
    text-align: justify;
    display: block;
    padding: 30px;
    align-self: center;
    flex-direction: left;
}


.box-img {

    width: 250px;
    height: auto;
    align-self: center;
    padding: 20px;



}

.box-img img {
    border-radius: 20%;

}

.box-sobre {
    
    width: 800px;
    height: auto;
    padding: 20px;
    order: 1;
    border-end-end-radius: 10%;
    border-start-end-radius: 10%;

}

.botaosaiba {
    display: flex;
    align-self: center;
    flex-direction: center;
    order: 1;

}

/* POLÍTICA DE COOKIES*/
/* Estilos para a barra de cookies */
.cookie-banner {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Fica fixo na parte superior da página */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8); /* Cor de fundo com transparência */
    color: #fff; /* Cor do texto */
    padding: 35px; /* Altura da barra */
    z-index: 1000; /* Garante que a barra fique acima de outros elementos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para destacar a barra */
}

.cookie-content {
    display: flex; /* Alinha os elementos em linha */
    justify-content: space-between; /* Distribui espaço entre o texto e os botões */
    align-items: center; /* Alinha os itens verticalmente no centro */
    max-width: 1200px; /* Define uma largura máxima para centralizar o conteúdo */
    margin: 0 auto; /* Centraliza horizontalmente */
}

.cookie-text {
    flex: 1; /* Faz com que o texto ocupe a maior parte do espaço disponível */
}

.cookie-text h2 {
    margin: 0 0 5px 0; /* Margem inferior para o título */
}

.cookie-text p {
    margin: 0; /* Remove margens ao redor do parágrafo */
    font-size: 16px;
}

.cookie-text a {
    color: #ff9f00; /* Cor do link */
    text-decoration: underline;
}



.cookie-buttons button {
    background-color: #ff9f00; /* Cor do botão */
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cookie-buttons button:hover {
    background-color: #e68a00; /* Cor do botão ao passar o mouse */
}

/* Ajuste de margem para o corpo da página para não sobrepor o conteúdo */
body {
    padding-top: 60px; /* Ajuste conforme necessário para o tamanho da barra de cookies */
}