@media screen and (max-width: 660px) {
    header .menu-desktop, header .btn-contato {
        display: none;
    }
    
    
}

@media screen and (max-width: 768px) {
    /* resposinvo da hero */
    
    .hero-site .txt-hero h1 p{
        font-size: 1.5em;
        font-weight: 45px;
    }
    
    .hero-site .txt-hero p {
        font-size: 1.2em;
        font-weight: 300;
        
          
    }

    .hero-site .txt-hero p span {
        display: inline;
    }

    .hero-site button,.box-img button {
    width: 200px;
    height: 50px;
}



    .box-content h1 {
        width: 500px;
        display: flex;
        margin-top: 20px;
        align-self: center;
        padding: 20px;

    }

    .box-content p {
        width: 800px;
        text-align: justify;
        display: block;
        padding: 30px;
        align-self: center;
        flex-direction: left;
    }



}