@media screen and (max-width: 660px) {
    header .menu-desktop, header .btn-contato {
        display: none;
    }
    
    
}

@media screen and (max-width: 768px) {
    /* resposinvo da hero */
    
    .hero-site .txt-hero h1 p{
        font-size: 2em;
        font-weight: 45px;
    }
    
    .hero-site .txt-hero p {
        font-size: 14px;
      
        
    }

    .hero-site .txt-hero p span {
        display: ;
    }
    
}